body {
    width:100%; 
    height:100%;
    padding:0px;
    margin:0px;
    background: #282C34;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.white-text {
    color: #FFFFFF;
}

.blue-text {
    color: #45BAFC;
}

nav {
    overflow: hidden;
    background-color: #20232A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky {
    z-index: 5;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.logo-type {
    background: linear-gradient(270deg, #61DAFB -4.1%, #45BAFC 103.24%);
    -webkit-background-clip: text;
    background-clip: text;
	-webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}

.navigation {
    display: flex;
    gap: 36px;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 43px;
}

footer {
    width: 100%;
    padding: 20px;
    background: #20232A;
    box-sizing: border-box;
}

footer p {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    float: right;
    color: #FFFFFF;
}

.content {
    flex: 1;
    margin: 135px 100px;
}

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 68px;
}

.page h1 {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
}

.page p {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    margin: 0 0 0 55px;
}

.main {
    width: 100%;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
}

.caption div {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
}

.caption i {
    font-weight: 100;
}

.regular {
    width: 30%;
    position: relative;
    transform: none;
    overflow: hidden;
    transition: opacity 1000ms ease-in-out, transform 800ms ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.regular:hover {
    cursor: pointer;
}

.regular:hover .img, .regular:focus .img {
    transform: scale(1.05);
    transition: all 220ms ease-in-out;
}

.regular:hover .overlay, .regular:focus .overlay {
    background-color: rgba(13, 13, 13, 0.6);
    transition: all 220ms ease-in-out;
}

.regular:hover .text, .regular:focus .text {
    opacity: 1;
    transition: opacity 330ms ease-in-out;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 43px;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 220ms ease-in-out;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 220ms ease-in-out;
}
  
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 220ms ease-in-out;
}

.photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
}